@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Playwrite+CU:wght@100..400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: #fff1dd;
    overflow-x: hidden;
    margin-bottom: 50px;
    margin: 0;
}

.blob {
    position: absolute;
    width: 60%;
    right: -15%;
    top: -40%;
    z-index: -1;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-logo {
    font-family: "Playwrite CU", cursive;
    color: #2f2325;
    font-weight: 700;
    font-size: 22px;
}

.cabecalho-menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.cabecalho-menu-item {
    color: #2f2325;
    font-weight: 700;
    font-size: 18px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.titulo {
    font-weight: 700;
    font-size: 64px;
    color: #2f2325;
}

.subtitulo {
    font-weight: 700;
    font-size: 24px;
    color: #2f2325;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ff9f0d;
    transition: 0.2s;
    width: 250px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    font-weight: 700;
    font-size: 24px;
    color: #fff1dd;
    gap: 10px;
}

.botao-login {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #2f2325;
    transition: 0.2s;
    width: 100px;
    height: 30px;
    border: none;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    color: #ff9f0d;
}

.botao:hover,
.botao-login:hover {
    scale: 1.1;
    cursor: pointer;
}

.conteudo-principal-imagem {
    height: 430px;
    filter: drop-shadow(-30px 40px 20px #3f3f3f3a);
}

/* =================== */
/* Conteudo secundário */
/* =================== */

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    font-weight: 700;
    font-size: 26px;
    color: #2f2325;
    margin-bottom: 16px;
}

.conteudo-secundario-escrito {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    width: 60%;
}

.conteudo-secundario-paragrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 25px;
    gap: 50px;
    width: 100%;
    color: #2f2325;
}

.conteudo-secundario-icone.material-symbols-outlined {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9f0d;
    border-radius: 100px;
    width: 75px;
    height: 75px;
    padding: 20px;
    box-shadow: 4px 5px 30px rgba(0, 0, 0, 0.16);
}

.conteudo-secundario-icone:hover {
    scale: 1.1;
    cursor: default;
}

/* ================== */
/* Conteudo terciário */
/* ================== */

.conteudo-terciario {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formulario {
    margin-top: 4%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.formulario-section {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.formulario-item {
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: transparent;
    border: 1px solid #2f23257b;
    border-radius: 10px;
    font-size: 25px;
    color: #2f2325;
}

.formulario-item::placeholder {
    color: #2f2325;
}

/* =================== */
/*        Modal        */
/* =================== */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

/* Estilo do conteúdo do painel */
.modal-content {
    background-color: white;
    padding: 2%;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-texto-secundario{
    margin-top: 10px;
}

.modal-botao-secundario{
    color: #ff9f0d;
}

.formulario-senha-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.formulario-senha-texto{
    color: #ff5963;
    font-size: small;
    font-weight: 700;
    display: flex;
    align-items: center;
}